body{
    background-image: url("/warehouse/img/bg-01.jpg");
    background-color: rgb(33, 37, 41);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px !important;
}
table, caption, th, td {
    /* background-color: rgb(220, 220, 220); */
    border: 3px solid black;
    border-collapse: separate;
}
th, td {
    border-radius: 2vw 1vw 2vw 1vw;
}
td {
    background-color: white !important;
}



.productdetails_image{
    max-width: 25%;
    max-height: 25%;
}

.updateproduct_image{
    max-width: 20%;
    max-height: 20%;
}

.updateproduct_figure{
    border: 2px solid black;
    border-radius: 5px;
}

/* #log-tab{
    display: none;
    border: 1px solid black;
    height: 50%;
} */




